DJANGO_SECRET_KEY=change_me_to_a_long_random_secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=winkast.com.ua,www.winkast.com.ua,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://winkast.com.ua,https://www.winkast.com.ua

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_ADMIN_CHAT_ID=your_chat_id_here
TELEGRAM_SITE_URL=https://winkast.com.ua
